@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*RESET*/
*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

body{
  
  color: white  ;
}

button{
  cursor:pointer;
  font-family: inherit;
  text-align:  center;
  border: none;
}

/* App--- */
.app{
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.app__title {
  font-size: 2.5rem;
  margin-top: 50px;
  width: 300px;
  text-align: center;
  margin-bottom: 25px;
  text-shadow:-3px -3px orange,
              3px 3px orange,
              -3px 3px orange,
              3px -3px orange;
}

.app__btn{
  font-family: inherit;
  font-weight: inherit;
  background-color: orange;
  padding: 10px 20px;
  border: 2px solid;
  color: brown;
  border-radius: 10px;
  transition: transform .3s;
  margin-bottom: 25px;
}

.app__btn:hover{
  transform: scale(1.1);
  transition: transform .3s;
}

.app__container{
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app__text{
  width:90%;
  background-color: #cec9c955;
  color:black;
  border-radius: 10px;
  padding: 20px;
}

.app__author{
  background-color: #fff7;
  color: gray;
  margin-bottom: 30px;
  padding:10px 20px;
  border-radius: 15px;

  
}

